{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <div class="form-section">
        <form method="post"
            enctype="multipart/form-data"
        >
            <h2>Upload an image</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-div">
                <button type="submit">Post</button>
            </div>
        </form>
    </div>
    <div class="images-section">
        <div class="images">
            {% for image in images %}
                <div class="image-card">
                    <img src="{{ image.image.url }}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>